/*********************************************
 *                ALLGEMEIN                  *
 *********************************************/

/* Zum Setzen der Farbe */
.adin {
    background-color: #36747e !important;
}


/*********************************************
 *                  NAVBAR                   *
 *********************************************/

#adin-navbar-logo {
	height: 50px;
}

.adin-navbar-item {
	text-align: center;
	display: inline-block;
	padding: 5px;
	margin: 0;
	width: 100px;
}
.adin-navbar-item:hover {
	background-color: #4f858e;
}

.adin-navbar-link {
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}
.adin-navbar-link:hover,
.adin-navbar-link:focus {
	background-color: #4f858e;
	color: white;
	text-decoration: none;
}

.adin-navbar-item-img {
	height: 50px;
	display: block;
}

.adin-navbar-item-text {
	margin: 0;
}


/*********************************************
 *             ÜBERSICHTSTABELLEN            *
 *********************************************/

.overview-table {
	margin: 30px 0 0 0;
	width: 100%;
	padding: 0;
}

.overview-table th,
.overview-table td {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0;
	padding: 10px;
}

.overview-table th {
	background-color: #4f858e;
	color: white;
}

.overview-table-button-cell {
	width: 60px;
	max-width: 60px;
	text-align: center
}

.overview-table-delete-button,
.overview-table-edit-button {
	width: 40px;
}

.overview-table-add-button {
	vertical-align: middle;
}

.mailbox-postmaster {
	background-color: #cccccc;
}


/*********************************************
 *                  FORMULARE                *
 *********************************************/

.adin-button {
	background-color: #36747e !important;
	color: white !important;
}
.adin-button:hover {
	background-color: #4f858e !important;
	color: white !important;
}

.input-group-text-midinput {
	border-radius: 0 !important;
	border-left: none !important;
	border-right: none !important;
}

.center {
    margin-top: 10%;
    text-align: center;
}

#adin-login-logo {
	width: 40%;
	min-width: 200px;
}

.loginbtn
{
    margin-left: 19%;
    margin-top: 1%;
}

.logininput
{
    width:25%;
    
}

.logintext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
    font-size: 20px;
    margin-top: 2%;
}
