.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adin{
    background-color: #36747e;
}

.a {
    color:white;
    text-decoration: none;
}

.a:hover {
    color:white;
    text-decoration: none;
}

.img {
    box-sizing: border-box;
    height: 80px;
}
.space {
    letter-spacing: 10px;
}