.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adin{
    background-color: #36747e;
}

.a {
    color:white;
    text-decoration: none;
}

.a:hover {
    color:white;
    text-decoration: none;
}

.img {
    box-sizing: border-box;
    height: 80px;
}
.space {
    letter-spacing: 10px;
}

.center {
    margin-top: 10%;
    text-align: center;
}

.loginbtn
{
    margin-left: 19%;
    margin-top: 1%;
}

.logininput
{
    width:25%;
    
}

.logintext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
    font-size: 20px;
    margin-top: 2%;
}